<table class="w-full">
  <thead>
    <tr class="bg-gray-300">
      <th class="border p-4">
        <div class="text-h1">class name</div>
      </th>
      <th class="border p-4 text-left">
        <div class="text-h1">description</div>
      </th>
    </tr>
  </thead>
  <tr>
    <td class="text-center align-middle">
      <div class="text-h1">text-h1</div>
    </td>
    <td>
      <div class="text-h1">font-size: 28px/28px/700</div>
      <div class="text-h1">font-weight: 28px/28px/700</div>
      <div class="text-h1">font-size: 28px/28px/700</div>
    </td>
  </tr>
</table>
