<table class="w-full mb-8">
  <thead>
    <tr class="bg-gray-300">
      <th class="border p-4">
        <div class="text-h1">validator name</div>
      </th>
      <th class="border p-4">
        <div class="text-h1">description</div>
      </th>
      <th class="border p-4 text-left">
        <div class="text-h1">demo</div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center align-middle">
        <div class="text-h2">Validators.required()</div>
      </td>
      <td class="text-center align-middle">
        <div class="text-h2">檢核必填欄位 (預設錯誤訊息)</div>
      </td>
      <td>
        <div>
          <app-form-input-text [form]="form" [title]="'檢核必填欄位'" [type]="'text'" [formControlName]="'required1'" [placeHolder]="'檢核必填欄位'"></app-form-input-text>
        </div>
      </td>
    </tr>
    <tr>
      <td class="text-center align-middle">
        <div class="text-h2">Validators.required('自訂的錯誤訊息')</div>
      </td>
      <td class="text-center align-middle">
        <div class="text-h2">檢核必填欄位 (自訂錯誤訊息)</div>
      </td>
      <td>
        <div>
          <app-form-input-text [form]="form" [title]="'檢核必填欄位'" [type]="'text'" [formControlName]="'required2'" [placeHolder]="'檢核必填欄位'"></app-form-input-text>
        </div>
      </td>
    </tr>
  </tbody>
</table>
