<app-header></app-header>

<section class="p-4">
  <div class="flex gap-4">
    <!-- demo 分類列表 -->
    <div class="p-4">
      <nav>
        <ul>
          <li class="min-w-max mb-4" *ngFor="let link of demoLinks">
            <div class="text-h3 cursor-pointer" (click)="changeOptions(link.title)">{{ link.title }}</div>
          </li>
        </ul>
      </nav>
    </div>
    <!-- demo 內容 -->
    <div class="w-full">
      <div class="p-4" [ngSwitch]="options">
        <app-demo-text *ngSwitchCase="'text'"></app-demo-text>
        <app-demo-icon *ngSwitchCase="'icon'"></app-demo-icon>
        <app-demo-button *ngSwitchCase="'button'"></app-demo-button>
      </div>
    </div>
  </div>
</section>
